@font-face 
  font-family: 'Roboto' 
  src: url('fonts/Roboto-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swaplet my_cookie_value

:root
  --bg: 1
  --black: #000000
  --hover: #8c8c8c
  --hoverbg: #bcbcbc
  --white: #ffffff
  --borderhead: #dbdbdb
  --inputtext: #2c2c2c
  --inputbg: #E1DAE3
  --switcherbg: #65558f
  --cardshadow: rgba(0, 0, 0, 0.17)
  --copyedtext: #8973c1
  --copyalert: #cebaff
  --inputlabel: #676767
  --test: #2a2a2a
  --img: 0


#app
    //all: unset
    width: 100%
    
h1
    font-size: 32px
    font-family: Roboto
    font-weight: 600
    color: var(--black)
    margin: 0

h2
    font-size: 20px
    font-family: Roboto
    font-weight: 600
    color: var(--black)
    margin: 0

h3
    font-size: 20px
    font-family: Roboto
    font-weight: 500
    color: var(--black)
    margin: 0

p
    font-size: 20px
    font-family: Roboto
    font-weight: 400
    color: var(--black)
    margin: 0

a
    all: unset
    font-size: 20px
    font-family: Roboto
    color: var(--black)
    cursor: pointer
    //&:hover
        

html
    scroll-padding-top: 40px
    background-color: var(--white)
    
body
    position: relative
    margin: 0
    display: flex
    flex-direction: column
    align-items: center

        
.over_body
    position: absolute
    width: 100%
    height: 100%
    background: url("./imgs/bg.png")
    background-size: 100% auto
    background-repeat: repeat
    background-position: center center
    z-index: -1
    opacity: var(--bg)
    
    
    
header
    position: fixed
    //top: 0
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    //border-bottom: 1px solid #16121a
    //box-shadow: 0px 4px 8px 0px rgba(67, 34, 80, 0.2)
    //background-color: #f1efef
    height: 72px
    width: 100%
    z-index: 1000

nav
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 0 14px 0 14px
    //background-color: var(--white)
    border-radius: 16px
    //border: 1px solid var(--borderhead)
    width: 851px
    height: 45px

main
    width: 100%
    height: 1700px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

input
    all: unset
    //position: relative
    //top: 2px
    //left: 16px
    //font-size: 16px
    //font-family: Roboto
    //font-weight: 500
    //color: #252525
    //margin: 0
    //width: 391px
.input_text
    position: relative
    top: 10px
    left: 16px
    font-size: 12px
    font-family: Roboto
    font-weight: 400
    color: var(--inputtext)
    margin: 0
.input_div
    background-color: var(--inputbg)
    border-radius: 10px
    width: 450px
    height: 56px
.input_img
    position: relative
    width: 24px
    height: 24px
    top: 2px
    left: 25px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0

.logo
    width: 212px
    height: 45px
    display: flex
    justify-content: center
    align-items: center
    background-color: var(--white)
    border-radius: 20px
    border: 1px solid var(--borderhead)
    margin: 0 0 0 10px

.theme_switch
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    width: 134px
    &__bg
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        background-color: var(--white)
        border-radius: 20px
        border: 1px solid var(--borderhead)
        width: 110px
        height: 45px
    &__empty
        width: 110px
    &__empty2
        width: 10px

.switcher
    width: 56px
    height: 34px
    background-color: var(--switcherbg)
    border-radius: 25px
    &__round
        position: relative
        left: 29px
        top: 5px
        transform: translate(0, 0)

.sun_icon
    width: 28px
    height: 28px
    filter: invert(var(--img))

.moon_icon
    opacity: 0
    position: fixed
    width: 30px
    height: 30px
    filter: invert(var(--img))


.empty_card
    height: 80px

.card
    scroll-margin-top: 100px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 727px
    height: 270px
    //border: 1px solid #16121a
    border-radius: 10px
    padding: 10px 0 0 0
    box-shadow: inset 0px 5px 10px var(--cardshadow)
    &__xl
        height: 570px
    &__info
        font-weight: 300
        font-size: 16px
        padding: 0 0 14px 0
    &__empty
        height: 0
    &__main
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 665px
        height: 152px
        &__xl
            height: 420px
        &__inputs
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            height: 112px
            &__xl
                height: 420px
        &__results
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            height: 100px

.ticker_add
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 350px

.result_container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    border: 1px solid var(--black)
    border-radius: 10px
    width: 153px
    height: 40px

.copyed_text
    cursor: pointer
    &:hover
        color: var(--copyedtext)

.note
    font-size: 12px
    width: 120px

.copy_alert
    position: absolute
    display: flex
    opacity: 0
    justify-content: center
    align-items: center
    background-color: var(--copyalert)
    border-radius: 5px
    font-size: 18px
    width: 135px

.input 
    position: relative
    width: 400px
    height: 40px
    &__s
        width: 300px
    &__label 
        position: absolute
        left: 10px
        top: 12px
        padding: 0
        margin: 0
        //background-color: #ffffff
        white-space: nowrap
        transform: translate(0, 0)
        transform-origin: 0 0
        transition: transform 120ms ease-in
        font-size: 16px
        font-family: Roboto
        font-weight: 400
        color: var(--inputlabel)
        margin: 0
        cursor: pointer

    &__img
        position: relative
        width: 24px
        height: 24px
        top: -32px
        left: 384px
        cursor: pointer
        filter: invert(var(--img))
        &:hover
            animation: 0.3s close_anim

    &__field 
        position: relative
        top: 0 
        left: 0
        display: block
        width: 100%
        border: 1px solid var(--black)
        padding: 0 0 0 14px
        color: var(--black)
        background: transparent
        border-radius: 10px
        width: 400px
        height: 40px
        font-size: 16px
        font-family: Roboto
        font-weight: 400
        cursor: pointer
        &__s
            width: 300px
        &:focus
            cursor: text
        &:focus,
        &:not(:placeholder-shown) 
            & + .input__label 
                transform: translate(.25rem, -145%) scale(.8)
                color: var(--black)
    &__date
        width: 362px

input[type='date']::-webkit-calendar-picker-indicator 
    filter: invert(var(--img))

.ismobile
    display: none 
.isnotmobile
    display: flex 

.add_button
    
//----------------------------------------------------------------------------------
.dropdown
  position: relative

  .dropdown-toggle
    cursor: pointer
    font-size: 22px
    font-family: Roboto
    font-weight: 600
    color: var(--black)
    margin: 0

  .dropdown-menu
    position: absolute
    top: calc(100% + 10px)   
    left: -140px 
    display: none
    background-color: var(--white)
    border-radius: 20px
    border: 1px solid var(--borderhead)
    padding: 10px
    width: 230px

    ul
      list-style: none
      margin: 0
      padding: 0

      li
        padding: 5px 0

        a
          text-decoration: none
          color: var(--black)

          &:hover
            color:  var(--hover)

  &.shown .dropdown-menu
    display: block


// .dropdown
//   width: 230px
//   display: inline-block
//   margin-right: 10px
//   position: relative

//   &.toggle > input
//     display: none

//   > a, &.toggle > label
//     border-radius: 2px
//     box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3)

//     &::after
//       content: ""
//       float: right
//       margin: 15px 15px 0 0
//       width: 0
//       height: 0
//       border-left: 5px solid transparent
//       border-right: 5px solid transparent
//       border-top: 10px solid #CCC

//   ul
//     list-style-type: none
//     display: block
//     margin: 0
//     padding: 0
//     position: absolute
//     width: 100%
//     box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3)
//     overflow: hidden

//   a, &.toggle > label
//     display: block
//     padding: 0 0 0 10px
//     text-decoration: none
//     line-height: 40px
//     font-size: 13px
//     text-transform: uppercase
//     font-weight: bold
//     color: #999
//     background-color: #FFF

//   li
//     height: 0
//     overflow: hidden
//     transition: all 500ms

//     &:first-child a
//       border-radius: 2px 2px 0 0

//       &::before
//         content: ""
//         display: block
//         position: absolute
//         width: 0
//         height: 0
//         border-left: 10px solid transparent
//         border-right: 10px solid transparent
//         border-bottom: 10px solid #FFF
//         margin: -10px 0 0 30px

//     &:last-child a
//       border-radius: 0 0 2px 2px

//   &.hover li
//     transition-delay: 300ms

//   a:hover, &.toggle > label:hover, &.toggle > input:checked ~ label
//     background-color: #EEE
//     color: #666

//     &::after
//       border-top-color: #AAA

//   li:first-child a:hover::before
//     border-bottom-color: #EEE

//   &.hover:hover li, &.toggle > input:checked ~ ul li
//     height: 40px

//   &.hover:hover li:first-child, &.toggle > input:checked ~ ul li:first-child
//     padding-top: 15px
//----------------------------------------------------------------------------------
.menu_list
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.hr_line 
    margin: 2px 0 2px 0
    padding: 0
    height: 0
    border: none
    border-top: 1px solid var(--black)
    width: 10px
    &__xl
        width: 200px


.copy_animate_on
    animation: 3s visible_on 

.switch_animate_on
    animation: 0.3s switcher
    transform: translate(-26px, 0)

.switch_animate_off
    animation: 0.3s switcher_reverse
    transform: translate(0, 0)

.sun_on
    animation: 0.3s sun_left_animation
    transform: translate(0, 0)
    opacity: 1

.sun_off
    //animation: 0.3s right_animation
    transform: translate(30px, 0)
    opacity: 0

.moon_on
    animation: 0.3s moon_left_animation
    transform: translate(-32px, 0)
    opacity: 1

.moon_off
    //animation: 0.3s right_animation
    transform: translate(30px, 0)
    opacity: 0

@keyframes visible_on
    0% 
        opacity: 0
    25%
        opacity: 1
    100% 
        opacity: 0

@keyframes switcher
    0% 
        transform: translate(0, 0)
    100% 
        transform: translate(-26px, 0)

@keyframes switcher_reverse
    0% 
        transform: translate(-26px, 0)
    100% 
        transform: translate(0, 0)

@keyframes sun_left_animation
    0% 
        transform: translate(30px, 0)
        opacity: 0
    30%
        opacity: 0
    100% 
        transform: translate(0, 0)
        opacity: 1

@keyframes moon_left_animation
    0% 
        transform: translate(0, 0)
        opacity: 0
    30%
        opacity: 0
    100% 
        transform: translate(-32px, 0)
        opacity: 1

@keyframes close_anim
    0% 
        transform: rotate(0)
    20%
        transform: rotate(-10deg)
    50%
        transform: rotate(0)
    70% 
        transform: rotate(10deg)
    100% 
        transform: rotate(0)

    
        
@media  screen and (max-width: 1300px) 
    html
        overflow-x: hidden
    body
        overflow-x: hidden
    #app
        overflow-x: hidden
    nav
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 700px

    .theme_switch
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        width: 224px
        &__empty
            width: 80px
        &__empty2
            width: 10px

@media  screen and (max-width: 1000px) 
    html
        overflow-x: hidden
    body
        overflow-x: hidden
    #app
        overflow-x: hidden
    nav
        display: none

    .theme_switch
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        width: 224px
        &__empty
            width: 80px
        &__empty2
            width: 10px

@media  screen and (max-width: 525px)
    .ismobile
        display: flex 
    .isnotmobile
        display: none         
    .over_body
        background: url("./imgs/bg_mobile.png")
        background-size: 100% auto

    html
        width: 100%
        -webkit-overflow-scrolling: touch
    
    body
        width: 100%
        -webkit-overflow-scrolling: touch

    
    header
        width: 100%

    nav
        display: none

    .input 
        width: 340px
        height: 40px
        &__s
            width: 200px
        &__img
            display: none

        &__field 
            width: 328px
            height: 40px
            &__s
                width: 200px

    .input_div
        width: 340px
        height: 56px
    
    .logo
        padding: 0 4px 0 4px

    .theme_switch
        width: 110px
        background-color: var(--white)
        border-radius: 20px
        border: 1px solid var(--borderhead)
        height: 45px
        margin: 0 10px 0 0 
        &__bg
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-evenly
            background-color: var(--white)
            border-radius: 20px
            border: 1px solid var(--borderhead)
            width: 110px
            height: 45px
        &__empty
            width: 0px
        &__empty2
            width: 0px
    .card
        flex-direction: column
        justify-content: space-between
        background-color: var(--white)
        width: 365px
        height: 300px
        border: 0px solid #16121a
        &__xl
            height: 670px
        &__info
            font-size: 14px
            width: 340px
        &__empty
            height: 0
        &__main
            flex-direction: column
            width: 700px
            height: 220px
            &__xl
                height: 520px
            &__inputs
                height: 110px
                &__xl
                    height: 420px
            &__results
                height: 72px
    .ticker_add
        width: 250px

@media  screen and (max-width: 390px) 
    .input 
        width: 320px
        height: 40px
        &__s
            width: 200px
        &__img
            display: none

        &__field 
            width: 308px
            height: 40px
            &__s
                width: 200px
    .card
        flex-direction: column
        justify-content: space-between
        width: 345px
        height: 300px
        border: 0px solid #16121a
        &__xl
            height: 670px
        &__info
            font-size: 14px
            width: 340px
        &__empty
            height: 0
        &__main
            flex-direction: column
            width: 700px
            height: 220px
            &__xl
                height: 520px
            &__inputs
                height: 110px
                &__xl
                    height: 420px
            &__results
                height: 72px
    .ticker_add
        width: 250px

